@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
/* Hide default scrollbar in Chrome */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar for other browsers */
.custom-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Additional custom scrollbar styles for Webkit browsers if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
